@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --theme-primary: #7c3aed;
  --theme-accent: #f97316;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
}
